<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>危険チャットデータベース</h1>
  <ul>
    <% for(let url of urls){ %>
      <li><a><%= todo %></a></li>
    <% } %>
  </ul>
  </body>
</html>